// Helper
// +basis-range-property("width", 10, 700, 5)
+basis-range-property("height", 10, 700, 5)

// +basis-background-color("1", $color-1)
// +basis-background-color("2", $color-2)

// +basis-color("1", $color-1)
// +basis-color("2", $color-2)

.main-container
  @extend %main-container

// Button
+basis-button-extend("color-3", $color-3)
+basis-button-extend("color-4", $color-4)

// Text
.text
  p
    font-size: 1.4em

// Block
.block-notice
  color: darken($color-2, 20%)

  &:before
    color: $color-2

.block-pane
  +border-radius(3px)

  padding: 30px
  border: 1px dashed #ddd

.block-pane-2
  +border-radius(3px)

  padding: 15px
  background: lighten($color-1, 20%)

.block-centered
  margin: 0 auto

.block-avatar
  $size: 230px
  +border-radius($size)
  +box-shadow(0 0 0 2px rgba(0, 0, 0, 0.1))

  display: inline-block
  width: $size
  height: $size
  overflow: hidden

  img
    display: block
    width: auto
    height: 100%

.block-loading
  margin: 30px 0
  color: #fff
  font-family: $font-heading
  text-align: center

  &:before
    @extend .icon-loading-c

    display: block
    margin-bottom: 10px
    font-size: 4em

.block-provider
  +break-inside(avoid)

  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px dotted #fff
  font-family: $font-system
  line-height: 130%

  h6
    margin-bottom: 5px

// Form
.field-count-counter
  color: $color-2

// List
.list-colorbutton
  display: inline-block

  li
    display: block
    position: relative
    float: left

    +buttoncolor("color-dark", $color-dark)
    +buttoncolor("color-1", $color-1)
    +buttoncolor("color-2", $color-2)
    +buttoncolor("color-3", $color-3)
    +buttoncolor("color-4", $color-4)
    +buttoncolor("color-5", $color-5)

  a
    +box-sizing(border-box)
    +transition(all 0.1s)

    display: block
    padding: 10px 30px
    background: $color-dark
    color: #fff
    font:
      weight: bold
      size: 1.3em
      family: $font-heading
    text:
      transform: uppercase
      decoration: none
