.main-gallery-content
  overflow: hidden
  display: none
  margin-top: 60px
  border-top: 1px solid #fff

.main-gallery-albums
  width: 30%
  float: left
  padding-top: 15px

  h5
    margin-bottom: 15px
    color: darken($color-1, 15%)

  a
    +border-radius(3px)
    +transition(all 0.1s)
    +box-sizing(border-box)

    display: block
    margin: 5px 5px 5px 0
    position: relative
    padding: 15px 15px 15px 55px
    background: darken($color-1, 5%)
    color: rgba(255, 255, 255, 0.5)
    font:
      weight: bold
      size: 1.2em
    font-family: $font-heading
    line-height: 140%
    text-decoration: none

    &:before
      @extend %basis-icon

      content: '\f118'
      position: absolute
      left: 15px
      top: 13px
      color: rgba(255, 255, 255, 0.3)
      font-size: 30px

    &:hover
      background: darken($color-1, 10%)
      color: #fff

  .on
    a
      +border-right-radius(0)

      margin-right: 0
      background: darken($color-1, 10%)
      color: #fff

      &:before
        color: #fff

.main-gallery-thumbs
  +border-radius(3px)
  +box-sizing(border-box)

  width: 70%
  min-height: 400px
  float: left
  margin-top: 5px
  padding: 15px
  background: darken($color-1, 10%)
