.default-header
  +box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))

  z-index: 900
  width: 100%
  position: fixed
  left: 0
  top: 0
  background: $color-1

  .main-logo
    a
      display: block
      width: 160px
      height: 160px
      position: absolute
      top: 5px
      left: 0
      margin: 0
      background:
        image: image-url("logo-expokidsbrasil.png")
        position: 50% 50%
        repeat: no-repeat
        size: 100% auto
      text-indent: -9999px

  .main-nav
    float: right
    margin-top: 27px

    .primary
      li
        display: inline

      a
        +border-radius(3px)
        +transition(all 0.1s)

        display: block
        float: left
        padding: 5px 10px
        border: 1px solid transparent
        color: #fff
        font:
          weight: bold
          size: 1em
          family: $font-heading
        text:
          transform: uppercase
          decoration: none

        &:hover
          border-color: $color-3

    .secondary
      +border-radius(3px)
      +box-shadow(0 0 0 2px rgba(0, 0, 0, 0.1))

      position: absolute
      right: 0
      bottom: -20px

      li
        display: inline

        &:first-child
          a
            +border-right-radius(0)

        &:last-child
          a
            +border-left-radius(0)

      a
        +border-radius(3px)
        +transition(all 0.1s)

        display: block
        float: left
        padding: 10px 20px
        border-left: 1px solid rgba(255, 255, 255, 0.3)
        background: $color-3
        color: #fff
        font:
          weight: bold
          size: 1em
          family: $font-heading
        text-decoration: none

        &:hover
          background: lighten($color-3, 5%)

.default-header-container
  @extend %main-container

  height: 80px
  position: relative

// Sections

#evento
  background: #fff

  .section-page-header
    left: 495px
    top: 30px

#programacao
  height: 658px
  background: $color-3 image-url("programacao-bg.jpg") 50% 50% no-repeat

  .section-page-header
    left: 160px
    top: 80px

#galeria
  min-height: 500px
  background: $color-1

  .section-page-header
    width: 100%
    left: 0
    top: 30px
    padding: 0
    border: none
    text-align: center

    h2
      margin-bottom: 15px
      color: #fff
      font:
        size: 1em
        font-family: $font-default

  .list-colorbutton
    li
      &.on
        &:after
          @extend %basis-icon

          content: "\f10d"
          width: 100%
          display: block
          position: absolute
          left: 0
          top: 40px
          color: #fff
          font-size: 20px

  .block-notice
    color: #fff

    &:before
      color: #fff

#fornecedores
  min-height: 898px
  background: #fff image-url("fornecedores-bg.png") 50% 0 no-repeat

  .section-page-header
    position: relative
    margin-top: 60px
    border-color: $color-4
    color: $color-5

  .text-intro
    width: 80%
    margin-bottom: 30px

  .providers
    +column-count(2)
    +column-gap(60px)

    padding: 30px

#sorteios
  background: $color-4

  .section-page-header
    position: relative
    margin-top: 60px
    border-color: #fff

  .text-intro
    width: 40%
    margin-bottom: 30px
    color: $color-1

  .rules
    position: absolute
    right: 0
    top: 120px

    a
      color: $color-1
      font:
        size: 1.2em
        weight: bold

  .main-tab-index
    position: absolute
    right: 0
    top: 185px

  .award-heading
    margin-bottom: 30px
    border-bottom: 2px solid

    span
      display: inline-block
      padding: 10px 20px
      color: #fff
      font:
        weight: bold
        size: 1.7em
        family: $font-heading
      text-transform: uppercase

  .award-image
    +border-radius(100%)

    padding: 5px
    border: 2px dashed

    img
      display: block
      width: 100%

  .award-description
    width: 80%
    margin: 15px auto 0
    text:
      transform: uppercase
      align: center
    font:
      weight: bold
      size: 1.1em
      family: $font-heading
    line-height: 130%

  +award-theme("color-1", $color-1)
  +award-theme("color-2", $color-2)
  +award-theme("color-3", $color-3)
  +award-theme("color-4", $color-4)
  +award-theme("color-5", $color-5)

#investir
  background: #fff

  .section-page-header
    position: relative
    margin-top: 60px
    border-color: $color-4
    color: $color-5

  .decking
    position: absolute
    left: -300px
    top: -70px

  .text-intro
    width: 80%
    margin-bottom: 30px

  .main-tab-index
    text-align: left

  .main-tab-content-container
    height: 240px

  .list-colorbutton
    display: block
    margin-top: 45px

    li
      float: none

      &.on
        a
          width: 100%

    a
      width: 75%
      margin-bottom: 1px

#empresas
  height: 735px
  background: $color-1 image-url("empresas-bg.jpg") 50% 50% no-repeat

  .section-page-header
    position: relative
    margin-top: 120px
    border-color: $color-4
    color: #fff

  .text-intro
    width: 58%
    color: #fff

    .highlight
      color: $color-4
      text-transform: uppercase

#parceiros
  min-height: 700px
  background: #e1e1e1

  .section-page-header
    position: relative
    margin-top: 60px
    border-color: $color-1
    color: $color-3

#orcamento
  background: $color-3

  .section-page-header
    position: relative
    margin: 60px 0 30px
    border-color: $color-4
    color: #fff

  .heading
    margin-bottom: 20px
    padding-bottom: 10px
    border-bottom: 1px dotted $color-4
    color: $color-4

  .form
    +border-radius(3px)

    padding: 30px
    background: darken($color-3, 5%)

    label
      color: #fff
      font:
        weight: bold
        size: 0.9em
        family: $font-heading
      text-transform: uppercase

    input,
    textarea,
    select,
      font-size: 1.3em

  .field-count-counter
    color: #fff

#contato
  min-height: 700px
  margin-bottom: 75px
  background: #fff image-url("contato-bg.jpg") 50% 160px no-repeat

  .section-page-header
    position: relative
    margin: 60px 0 120px

  .contacts
    width: 50%
    position: absolute
    left: 0
    top: 530px

    .contact
      line-height: 160%
      font-size: 1.1em
      text-transform: uppercase

      h4
        margin-bottom: 15px
        color: $color-1
        font:
          weight: bold
          size: 1.5em
          family: $font-heading

      a
        color: $color-3
        font-weight: bold
        text-decoration: none

        &:hover
          text-decoration: underline

    .links
      margin-top: 80px
      color: $color-1

      a
        color: $color-1
        font:
          weight: bold
          size: 1em
          family: $font-heading
        text:
          transform: uppercase
          decoration: none

        &:hover
          text-decoration: underline

  .form
    +border-radius(3px)

    padding: 30px
    background: #fff

    label
      color: $color-1
      font:
        weight: bold
        size: 0.9em
        family: $font-heading
      text-transform: uppercase

    input,
    textarea
      font-size: 1.3em

  .field-count-counter
    color: $color-3
