=buttoncolor($name: "color-dark", $color: $color-dark)
  &.#{$name}
    a
      background: $color

      &:hover
        background: lighten($color, 10%)

=award-theme($name: "color-dark", $color: $color-dark)
  .award-#{$name}
    color: $color

    .award-heading
      border-color: $color

      span
        background: $color

    .award-image
      border-color: $color
