.section-page-container
  @extend %main-container

  position: relative
  padding: 50px 0 30px

.section-page-header
  position: absolute
  padding-left: 8px
  border-left: 8px solid $color-4
  color: $color-1

  .main-heading
    font:
      size: 2.3em
      weight: bold
      family: $font-heading
    letter-spacing: -1px
    text-transform: uppercase

.section-page-content
  margin-top: 30px
