.main-tab-index
  display: block
  text-align: center

.main-tab-content
  +border-radius(3px)

  display: none
  position: relative
  top: -1px
  padding: 15px
  background: $color-dark
  color: #fff !important

  &.color-1
    background: $color-1

  &.color-2
    background: $color-2

  &.color-3
    background: $color-3

  &.color-4
    background: $color-4

  &.color-5
    background: $color-5

  .block-notice
    margin-top: 140px
    color: #fff

    &:before
      color: #fff

.main-tab-content-container
  min-height: 440px
  overflow: auto
