.breadcrumb
	margin-bottom: 30px

	li
		display: inline
		color: #999

		&:before
			content: "/ "
			margin: 0 5px

		&:first-child
			&:before
				@extend %basis-icon

				content: "\f3d6"
				margin-left: 0

	a
		@extend %basis-link

