.button
  @extend %basis-button

+basis-button-extend("dark", $color-dark)
+basis-button-extend("warning", $color-warning)
+basis-button-extend("success", $color-success)
+basis-button-extend("danger", $color-danger)
+basis-button-extend("info", $color-info)

.button-dropdown
  &:after
    @extend %basis-icon

    content: "\f151"
    margin-left: 10px
    padding-left: 10px
    border-left: 1px solid rgba(255, 255, 255, 0.3)

.button-short
  $size: 30px
  +border-radius($size)

  display: inline-block
  width: $size
  height: $size
  margin: 0 2px
  border: none
  color: #fff !important
  text-align: center

  span
    font-size: 15px
    line-height: $size
