.collapse
	+border-radius(3px)

	margin-bottom: 10px
	border: 1px solid #eee
	background: #fff

	.collapse-heading
		+transition(all 0.1s)

		display: block
		padding: 10px
		cursor: pointer
		background: #f8f8f8
		color: $color-info
		font:
			weight: bold
			size: 1.2em
		line-height: 130%
		text-decoration: none

		&:hover
			background: #eee

	.collapse-container
		display: none
		padding: 10px

	&.is-open
		.collapse-container
			display: block

