.link
  @extend %basis-link

.clearfix
  @extend %basis-clearfix

.clear
  clear: both !important

.nowrap
  white-space: nowrap !important


.display-none
  display: none !important

.display-block
  display: block !important

.display-inline
  display: inline !important

.display-inline-block
  display: inline-block !important


.width-full
  width: 100% !important

.width-half
  width: 50% !important


.height-full
  height: 100% !important

.height-half
  height: 50% !important


.float-none
  float: none !important

.float-left
  float: left !important

.float-right
  float: right !important


+basis-range-property("margin", 0, 0, 1, "")
+basis-range-property("margin-top", 0, 100, 5)
+basis-range-property("margin-right", 0, 100, 5)
+basis-range-property("margin-bottom", 0, 100, 5)
+basis-range-property("margin-left", 0, 100, 5)


+basis-background-color("transparent", transparent)
+basis-background-color("black", #000)
+basis-background-color("white", #fff)
+basis-background-color("highlight", $color-highlight)
+basis-background-color("light", $color-light)
+basis-background-color("dark", $color-dark)
+basis-background-color("warning", $color-warning)
+basis-background-color("success", $color-success)
+basis-background-color("danger", $color-danger)
+basis-background-color("info", $color-info)


+basis-color("black", #000)
+basis-color("white", #fff)
+basis-color("light", $color-light)
+basis-color("dark", $color-dark)
+basis-color("warning", $color-warning)
+basis-color("success", $color-success)
+basis-color("danger", $color-danger)
+basis-color("info", $color-info)


.filter-grayscale
  +filter(grayscale(100%))

.filter-invert
  +filter(invert(100%))


.toggle-grayscale
  +filter(grayscale(100%))
  +transition(all 0.1s)

  &:hover
    +filter(grayscale(0))

.text-xlarge
  font-size: 1.4em !important

.text-large
  font-size: 1.2em !important

.text-small
  font-size: 0.9em !important

.text-xsmall
  font-size: 0.8em !important


.align-left
  text-align: left !important

.align-right
  text-align: right !important

.align-center
  text-align: center !important

.align-justify
  text-align: justify !important


.responsive
  display: block
  width: 100%

.centered
  margin: 0 auto !important

.separate
  margin-top: 15px
  padding-top: 15px
  border-top: 2px solid #eee
