.list-error
  li
    clear: both
    display: block
    padding-top: 5px
    color: $color-danger
    font-size: 0.8em

    &:before
      @extend %basis-icon

      content: "\f128"
      margin-right: 5px

.list-rating
  @extend %basis-clearfix

  display: inline

  li
    display: inline

    a
      +transition(all 0.1s)

      display: block
      float: left
      padding: 3px
      text-decoration: none
      color: #bbb

      &:before
        @extend %basis-icon

        content: "\f24e"
        font-size: 25px

      &:hover
        color: $color-warning

    &.on,
    &.on-hover
      a
        color: $color-warning

    &.off-hover
      a
        color: #bbb

.list-link-inline
  li
    display: inline
    color: #999

    &:before
      content: "/ "
      margin: 0 5px

    &:first-child
      &:before
        content: ""
        margin-left: 0

  a
    @extend %basis-link

.list-icon
  @extend %basis-clearfix

  margin: 0 !important
  padding: 0 !important

  li
    display: inline
    color: #ddd

    &:before
      content: "/ "
      margin: 0 5px

    &:first-child
      &:before
        content: ""
        margin-left: 0

  a
    $size: 30px
    +transition(all 0.1s)

    display: inline-block
    width: $size
    height: $size
    color: #ccc
    text:
      align: center
      decoration: none

    span
      font-size: 20px

    &:hover
      border: none
      color: $color-dark

.list-thumbs
  overflow: hidden

  li
    display: inline

  a
    $size: 140px
    +transition(all 0.2s)

    display: block
    width: $size
    height: $size
    overflow: hidden
    float: left
    margin: 10px

    &:hover
      +opacity(0.8)

  img
    width: 100%
    height: 100%

.list-logos
  overflow: hidden

  li
    $size: 165px
    +border-radius(3px)

    display: block
    width: $size
    height: $size
    overflow: hidden
    float: left
    margin: 10px
    padding: 3px
    background: #fff

  img
    width: 100%
    height: 100%

