%basis-clearfix
	&:after
		content: ""
		display: table !important
		clear: both !important

%basis-icon
	display: inline-block
	font:
		family: $font-icon !important
		style: normal
		weight: normal
		variant: normal
	line-height: 1
	text:
		transform: none
		rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	speak: none

%basis-focus
	$color: $color-warning
	+box-shadow(0 0 5px rgba($color, 0.5))
	+transition(box-shadow 0.2s)

	border: 1px solid rgba($color, 0.5) !important
	outline: none

%basis-highlight
	+box-shadow(0 0 0 2px $color-highlight)

%basis-link
	+transition(all 0.1s)

	color: $color-info
	text-decoration: none

	&:hover
		border-bottom: 1px solid
		color: lighten($color-info, 5%)

%basis-button
	$color: #999
	$height: 35px
	+border-radius(3px)
	+box-sizing(border-box)
	+transition(all 0.1s)

	display: inline-block
	height: $height
	padding: 0 15px
	border: none
	background-color: $color
	color: #fff !important
	font:
		weight: bold
		size: 1.2em
		family: $font-default
	line-height: $height
	text-decoration: none !important

	&:hover:enabled
		background-color: lighten($color, 5%)

	&.button-block
		display: block
		text-align: center

	&.button-large
		height: $height + 10
		padding: 0 20px
		font-size: 1.5em
		line-height: $height + 10

	&.button-small
		height: $height - 10
		padding: 0 10px
		border-width: 1px !important
		font-size: 0.9em
		line-height: $height - 10

	&.button-bordered
		border: 2px solid $color
		background: none !important
		color: $color
		line-height: $height - 4

		&:hover:enabled
			border-color: lighten($color, 5%)
			color: lighten($color, 5%)

		&.button-large
			line-height: $height + 10 - 4

		&.button-small
			line-height: $height - 10 - 2

		&.button-white
			$color: #fff

			border-color: $color
			color: $color

	&.button-white
		$color: #fff

		background-color: $color
		color: $color-dark

	&.button-inline
		margin-top: 17px

%basis-field-text
	+border-radius(3px)
	+box-sizing(border-box)

	width: 100%
	height: 35px
	padding: 0 10px
	border: 1px solid #ccc
	background:
		color: #fff
		image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
	font:
		weight: normal
		size: 1em
		family: $font-system

	&.field-large
		height: 50px
		padding: 0 15px
		font-size: 1.1em

	&.field-warning
		border-color: $color-warning

	&.field-success
		border-color: $color-success

	&.field-danger
		border-color: $color-danger

	&.field-info
		border-color: $color-info

	&:focus
		@extend %basis-focus

