.default-roll-top
  $size: 40px
  +border-radius($size)
  +box-shadow(0 0 0 2px rgba(0, 0, 0, 0.1))
  +transition(all 0.1s)

  z-index: 99
  display: none
  width: $size
  height: $size
  position: fixed
  right: 15px
  bottom: 15px
  border: none
  background: #bbb
  color: #fff
  text-align: center

  &:before
    @extend .icon-ios-arrow-thin-up

    font-size: 20px
    line-height: $size

  &:hover
    background: #aaa
