.splitbox
	+border-radius(3px)

	border: 1px solid $color-info

	section
		header
			+transition(all 0.1s)

			padding: 5px
			border-top: 1px dotted $color-info
			cursor: pointer
			color: $color-info
			font:
				size: 1.3em
				family: $font-default

			&:hover
				background: lighten($color-info, 20%)

		.splitbox-content
			display: none
			padding: 5px 10px 10px

		&:first-child
			header
				border-top: none

