.togglebox
	.togglebox-trigger
		text-align: right
		font-size: 0.9em

		a
			@extend %basis-link

	.togglebox-container
		display: none
		margin-top: 15px

.togglebox-open
	.togglebox-container
		display: block
